* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

body{
    background-color: #005173;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
    border-top: 12px solid #0296bb;
}


.logo{
    padding: 10px;
    margin: 0 auto;
    height: 105px;
    max-width: 100%;
}

.form{
    padding: 20px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    margin-bottom: 15px;
    display: inline-block;
}

.form-control input{
    border: 2px solid rgb(197, 197, 197);
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form-control small{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
} 

.form button{
    width: 100%;
    padding: 10px;
    background-color: #0296bb;
    color: rgb(255, 255, 255);
    border: 2px solid #0296bb;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    transition: 0.5s;
    background-color: #006680;
}

.form-control.sucesso input{
    border-color: #2ecc71;
}

.form-control.erro input{
    border-color: #e74c3c;
}

.form-control.erro small{
    visibility: visible;
    color: #e74c3c;
}

